<a href="https://colab.research.google.com/github/lazizrakhmat/DS-Notebook/blob/main/WebSahifa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web sahifalar

In [ ]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [ ]:
tashkentInfo =  pd.read_html("https://en.wikipedia.org/wiki/Tashkent")

In [ ]:
len(tashkentInfo)

17

In [ ]:
tashkentInfo[7]

    Year     Pop. ±% p.a.
0   1897   155673       —
1   1959   911930  +2.89%
2   1970  1384509  +3.87%
3   1979  1780002  +2.83%
4   1983  1902000  +1.67%
5   1989  2072459  +1.44%
6   1991  2130200  +1.38%
7   1995  2097400  −0.39%
8   2000  2142300  +0.42%
9   2001  2137900  −0.21%
10  2002  2136600  −0.06%
11  2003  2139200  +0.12%
12  2004  2135400  −0.18%
13  2005  2135700  +0.01%
14  2006  2140600  +0.23%

In [ ]:
tashkentInfo[5]

   Climate data for Tashkent (1981–2010, extremes 1881–present)  \
                                                          Month
0                                 Record high °C (°F)
1                                Average high °C (°F)
2                                  Daily mean °C (°F)
3                                 Average low °C (°F)
4                                  Record low °C (°F)
5                   Average precipitation mm (inches)
6                          Average precipitation days
7                                  Average snowy days
8                       Average relative humidity (%)
9                         Mean monthly sunshine hours
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Jan
0                                          22.6(72.7)
1                                           6.9(44.4)
2                                           1.9(35.4)
3                                          −1.5(29.3)
4                                            −28(−18)
5                                          53.3(2.10)
6                                                  14
7                                                   9
8                                                  73
9                                               117.3
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Feb
0                                          27.0(80.6)
1                                           9.4(48.9)
2                                           3.9(39.0)
3                                           0.0(32.0)
4                                        −25.6(−14.1)
5                                          63.8(2.51)
6                                                  13
7                                                   7
8                                                  68
9                                               125.3
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Mar
0                                          32.5(90.5)
1                                          15.2(59.4)
2                                           9.3(48.7)
3                                           4.8(40.6)
4                                          −16.9(1.6)
5                                          70.2(2.76)
6                                                  14
7                                                   2
8                                                  61
9                                               165.1
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Apr
0                                          36.4(97.5)
1                                          22.0(71.6)
2                                          15.5(59.9)
3                                           9.8(49.6)
4                                          −6.3(20.7)
5                                          62.3(2.45)
6                                                  12
7                                                   0
8                                                  60
9                                               216.8
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  May
0                                         39.9(103.8)
1                                          27.5(81.5)
2                                          20.5(68.9)
3                                          13.7(56.7)
4                                          −1.7(28.9)
5                                          41.2(1.62)
6                                                  11
7                                                   0
8                                                  53
9                                               303.4
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Jun
0                                         45.0(113.0)
1                                          33.4(92.1)
2                                          25.8(78.4)
3                                          18.1(64.6)
4                                           3.8(38.8)
5                                          14.3(0.56)
6                                                   7
7                                                   0
8                                                  40
9                                               361.8
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Jul
0                                         44.6(112.3)
1                                          35.6(96.1)
2                                          27.8(82.0)
3                                          19.7(67.5)
4                                           8.2(46.8)
5                                           4.5(0.18)
6                                                   4
7                                                   0
8                                                  39
9                                               383.7
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Aug
0                                         43.1(109.6)
1                                          34.7(94.5)
2                                          26.2(79.2)
3                                          18.1(64.6)
4                                           5.7(42.3)
5                                           1.3(0.05)
6                                                   3
7                                                   0
8                                                  42
9                                               365.8
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Sep
0                                         40.0(104.0)
1                                          29.3(84.7)
2                                          20.6(69.1)
3                                          13.0(55.4)
4                                           0.1(32.2)
5                                           6.0(0.24)
6                                                   3
7                                                   0
8                                                  45
9                                               300.9
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Oct
0                                          37.5(99.5)
1                                          21.8(71.2)
2                                          13.9(57.0)
3                                           7.8(46.0)
4                                         −11.2(11.8)
5                                          24.7(0.97)
6                                                   7
7                                                   1
8                                                  57
9                                               224.8
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Nov
0                                          31.6(88.9)
1                                          14.9(58.8)
2                                           8.5(47.3)
3                                           4.1(39.4)
4                                         −22.1(−7.8)
5                                          43.9(1.73)
6                                                  10
7                                                   2
8                                                  66
9                                               149.5
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Dec
0                                          27.3(81.1)
1                                           8.8(47.8)
2                                           3.5(38.3)
3                                           0.0(32.0)
4                                        −29.5(−21.1)
5                                          58.9(2.32)
6                                                  12
7                                                   6
8                                                  73
9                                               105.9
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...


                                                 Year
0                                         44.6(112.3)
1                                          21.6(70.9)
2                                          14.8(58.6)
3                                           9.0(48.2)
4                                        −29.5(−21.1)
5                                        444.4(17.50)
6                                                 110
7                                                  27
8                                                  56
9                                              2820.3
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

In [ ]:
tashkentInfo[9]

,Nr,District,Population (2021)[1],Area (km2)[64][63],Density (area/km2),Map
0,1,Bektemir,31400,17.83,1761,NaN
1,2,Chilanzar,260700,29.94,8707,NaN
2,3,Yashnobod,258800,33.70,7680,NaN
3,4,Mirobod,142800,17.10,8351,NaN
4,5,Mirzo Ulugbek,285000,35.15,8108,NaN
5,6,Sergeli,105700,37.36,2829,NaN
6,7,Shayxontoxur,348300,29.70,11727,NaN
7,8,Olmazor,377100,34.50,10930,NaN
8,9,Uchtepa,278200,24.00,11592,NaN
9,10,Yakkasaray,121600,14.60,8329,NaN
10,11,Yunusabad,352000,40.60,8670,NaN
11,12,Yangihayot,132800,44.20,3005,NaN

### JSON

In [43]:
import requests

In [44]:
r = requests.get("https://openlibrary.org/subjects/python.json?published_in=2015-2022")

In [45]:
r.status_code

200

In [46]:
r.json()

{'key': '/subjects/python',
 'name': 'python',
 'subject_type': 'subject',
 'work_count': 69,
 'works': [{'key': '/works/OL17795703W',
   'title': 'Python for bioinformatics',
   'edition_count': 10,
   'cover_id': 8078288,
   'cover_edition_key': 'OL26385029M',
   'subject': ['Bioinformatics',
    'Python (computer program language)',
    'Python (Computer program language)',
    'Computational Biology',
    'Bio-informatique',
    'Python (Langage de programmation)',
    'Programming languages (Electronic computers)',
    'Programming Languages',
    'Langages de programmation',
    'COMPUTERS',
    'Python',
    'NATURE',
    'Reference',
    'SCIENCE',
    'Life Sciences',
    'Biology',
    'General'],
   'ia_collection': [''],
   'lendinglibrary': False,
   'printdisabled': False,
   'lending_edition': '',
   'lending_identifier': '',
   'authors': [{'key': '/authors/OL3871440A', 'name': 'Sebastian Bassi'}],
   'first_publish_year': 2009,
   'ia': None,
   'public_scan': False,
   'has_fulltext': False},
  {'key': '/works/OL6045694W',
   'title': 'Python in a Nutshell',
   'edition_count': 8,
   'cover_id': 389166,
   'cover_edition_key': 'OL7581267M',
   'subject': ['Python (Computer program language)',
    'Python (computer program language)',
    'Python (programmeertaal)',
    'Scripting languages (Computer science)',
    'Python (Langage de programmation)',
    'COMPUTERS',
    'Programming Languages',
    'Python'],
   'ia_collection': ['americanuniversity-ol',
    'china',
    'drakeuniversity-ol',
    'inlibrary',
    'internetarchivebooks',
    'johnshopkins-ol',
    'librarygenesis',
    'printdisabled',
    'wilsoncollege-ol'],
   'lendinglibrary': False,
   'printdisabled': True,
   'lending_edition': 'OL24749091M',
   'lending_identifier': 'pythoninnutshell00mart',
   'authors': [{'key': '/authors/OL1521655A', 'name': 'Alex Martelli'},
    {'key': '/authors/OL2726934A', 'name': 'Anna Ravenscroft'},
    {'key': '/authors/OL2804309A', 'name': 'Steve Holden'}],
   'first_publish_year': 2002,
   'ia': 'pythoninnutshell00mart',
   'public_scan': False,
   'has_fulltext': True,
   'availability': {'status': 'borrow_available',
    'available_to_browse': True,
    'available_to_borrow': True,
    'available_to_waitlist': False,
    'is_printdisabled': True,
    'is_readable': False,
    'is_lendable': True,
    'is_previewable': True,
    'identifier': 'pythoninnutshell00mart',
    'isbn': '0596001886',
    'oclc': None,
    'openlibrary_work': 'OL15839297W',
    'openlibrary_edition': 'OL3703974M',
    'last_loan_date': '2020-08-17T04:02:58Z',
    'num_waitlist': '0',
    'last_waitlist_date': '2019-10-16T21:09:11Z',
    'is_restricted': True,
    'is_browseable': True,
    '__src__': 'core.models.lending.get_availability'}},
  {'key': '/works/OL23330617W',
   'title': 'Making music with computers',
   'edition_count': 7,
   'cover_id': None,
   'cover_edition_key': None,
   'subject': ['Computer composition',
    'Python (Computer program language)',
    'COMPUTERS / Programming Languages / General',
    'COMPUTERS / Programming / Algorithms',
    'MATHEMATICS / General',
    'Python (computer program language)',
    'Computer software',
    'Development',
    'Python (Langage de programmation)',
    'COMPUTERS',
    'Programming Languages',
    'Python'],
   'ia_collection': [''],
   'lendinglibrary': False,
   'printdisabled': False,
   'lending_edition': '',
   'lending_identifier': '',
   'authors': [{'key': '/authors/OL3853673A', 'name': 'Bill Manaris'}],
   'first_publish_year': 2013,
   'ia': None,
   'public_scan': False,
   'has_fulltext': False},
  {'key': '/works/OL21349037W',
   'title': 'Introduction to Python for Science and Engineering',
   'edition_count': 6,
   'cover_id': None,
   'cover_edition_key': None,
   'subject': ['Python (computer program language)',
    'Engineering, data processing',
    'Science, data processing',
    'Python (Computer program language)',
    'Computer programming',
    'Engineering',
    'Data processing',
    'Science',
    'COMPUTERS',
    'Programming Languages',
    'Python',
    'General',
    'MATHEMATICS',
    'SCIENCE',
    'Physics'],
   'ia_collection': [''],
   'lendinglibrary': False,
   'printdisabled': False,
   'lending_edition': '',
   'lending_identifier': '',
   'authors': [{'key': '/authors/OL4194836A', 'name': 'David J. Pine'}],
   'first_publish_year': 2018,
   'ia': None,
   'public_scan': False,
   'has_fulltext': False},
  {'key': '/works/OL21703042W',
   'title': 'Tour of Data Science',
   'edition_count': 6,
   'cover_id': None,
   'cover_edition_key': None,
   'subject': ['Data mining',
    'R (Computer program language)',
    'Python (Computer program language)',
    'Data Mining',
    'Exploration de données (Informatique)',
    'R (Langage de programmation)',
    'Python (Langage de programmation)',
    'COMPUTERS',
    'Programming Languages',
    'Python',
    'General',
    'Computer Graphics',
    'Game Programming & Design'],
   'ia_collection': [''],
   'lendinglibrary': False,
   'printdisabled': False,
   'lending_edition': '',
   'lending_identifier': '',
   'authors': [{'key': '/authors/OL8302653A', 'name': 'Nailong Zhang'}],
   'first_publish_year': 2020,
   'ia': None,
   'public_scan': False,
   'has_fulltext': False},
  {'key': '/works/OL19548251W',
   'title': 'Python for Everyone',
   'edition_count': 6,
   'cover_id': 8514962,
   'cover_edition_key': 'OL26838816M',
   'subject': ['Python (computer program language)',
    'Python (Computer program language)',
    'Python'],
   'ia_collection': [''],
   'lendinglibrary': False,
   'printdisabled': False,
   'lending_edition': '',
   'lending_identifier': '',
   'authors': [{'key': '/authors/OL6972451A', 'name': 'Cay S. Horstmann'},
    {'key': '/authors/OL7017980A', 'name': 'Rance D. Necaise'}],
   'first_publish_year': 2013,
   'ia': None,
   'public_scan': False,
   'has_fulltext': False},
  {'key': '/works/OL14940051W',
   'title': 'Natural Language Processing With Python',
   'edition_count': 6,
   'cover_id': 6296394,
   'cover_edition_key': 'OL23978297M',
   'subject': ['Python (Computer program language)',
    'Natural language processing (Computer science)',
    'Python <Programmiersprache>',
    'Sprachverarbeitung',
    'Python (computer program language)',
    'Natural language processing (computer science)',
    'Natural Language Processing',
    'Python (Langage de programmation)',
    'Traitement automatique des langues naturelles',
    'COMPUTERS',
    'Programming Languages',
    'C♯',
    'Java',
    'Pascal',
    'Python',
    'Natuurlijke-taalverwerking',
    'Python (programmeertaal)'],
   'ia_collection': ['librarygenesis', 'printdisabled'],
   'lendinglibrary': False,
   'printdisabled': True,
   'lending_edition': '',
   'lending_identifier': '',
   'authors': [{'key': '/authors/OL6770736A', 'name': 'Edward Loper'},
    {'key': '/authors/OL585313A', 'name': 'Steven Bird'},
    {'key': '/authors/OL3181508A', 'name': 'Ewan Klein'}],
   'first_publish_year': 2009,
   'ia': 'naturallanguagep00bird_504',
   'public_scan': False,
   'has_fulltext': True,
   'availability': {'status': 'private',
    'available_to_browse': False,
    'available_to_borrow': False,
    'available_to_waitlist': False,
    'is_printdisabled': True,
    'is_readable': False,
    'is_lendable': False,
    'is_previewable': False,
    'identifier': 'naturallanguagep00bird_504',
    'isbn': '9780596516499',
    'oclc': None,
    'openlibrary_work': 'OL14940051W',
    'openlibrary_edition': 'OL23978297M',
    'last_loan_date': None,
    'num_waitlist': None,
    'last_waitlist_date': None,
    'is_restricted': True,
    'is_browseable': False,
    '__src__': 'core.models.lending.get_availability'}},
  {'key': '/works/OL25217001W',
   'title': 'Introduction to Python Programming',
   'edition_count': 5,
   'cover_id': None,
   'cover_edition_key': None,
   'subject': ['Python (computer program language)',
    'Python (Computer program language)',
    'Python (Langage de programmation)',
    'COMPUTERS',
    'Programming Languages',
    'Python',
    'Programmierung'],
   'ia_collection': [''],
   'lendinglibrary': False,
   'printdisabled': False,
   'lending_edition': '',
   'lending_identifier': '',
   'authors': [{'key': '/authors/OL9522029A', 'name': 'Gowrishankar S'},
    {'key': '/authors/OL9522030A', 'name': 'Veena A'}],
   'first_publish_year': 2018,
   'ia': None,
   'public_scan': False,
   'has_fulltext': False},
  {'key': '/works/OL19932156W',
   'title': 'Fluent Python',
   'edition_count': 5,
   'cover_id': 8743408,
   'cover_edition_key': 'OL27112900M',
   'subject': ['Python (Computer program language)',
    'Computer programming',
    'Object-oriented programming languages',
    'Object-oriented programming (computer science)',
    'Python (computer program language)',
    'Python (Langage de programmation)',
    'Langages orientés objet (Informatique)',
    'COMPUTERS',
    'Programming Languages',
    'Python'],
   'ia_collection': ['binghamton-ol',
    'cua-ol',
    'inlibrary',
    'internetarchivebooks',
    'printdisabled',
    'universityofoklahoma-ol'],
   'lendinglibrary': False,
   'printdisabled': True,
   'lending_edition': 'OL27112900M',
   'lending_identifier': 'fluentpython0000rama',
   'authors': [{'key': '/authors/OL7584543A', 'name': 'Luciano Ramalho'}],
   'first_publish_year': 2015,
   'ia': 'fluentpython0000rama',
   'public_scan': False,
   'has_fulltext': True,
   'availability': {'status': 'borrow_available',
    'available_to_browse': True,
    'available_to_borrow': True,
    'available_to_waitlist': False,
    'is_printdisabled': True,
    'is_readable': False,
    'is_lendable': True,
    'is_previewable': True,
    'identifier': 'fluentpython0000rama',
    'isbn': '9781491946008',
    'oclc': None,
    'openlibrary_work': 'OL19932156W',
    'openlibrary_edition': 'OL27112900M',
    'last_loan_date': None,
    'num_waitlist': None,
    'last_waitlist_date': None,
    'is_restricted': True,
    'is_browseable': True,
    '__src__': 'core.models.lending.get_availability'}},
  {'key': '/works/OL25187574W',
   'title': 'Introduction to Modeling and Simulation with MATLAB® and Python',
   'edition_count': 5,
   'cover_id': None,
   'cover_edition_key': None,
   'subject': ['Matlab (computer program)',
    'Computer simulation',
    'Python (computer program language)',
    'Computer programming',
    'Engineering mathematics',
    'Python (Computer program language)',
    'Data processing',
    'Computer Simulation',
    'Simulation par ordinateur',
    'Python (Langage de programmation)',
    'Programmation (Informatique)',
    "Mathématiques de l'ingénieur",
    'Informatique',
    'Simulation',
    'COMPUTERS',
    'Programming Languages',
    'Python',
    'Programming',
    'General',
    'Mathematical & Statistical Software',
    'MATLAB'],
   'ia_collection': [''],
   'lendinglibrary': False,
   'printdisabled': False,
   'lending_edition': '',
   'lending_identifier': '',
   'authors': [{'key': '/authors/OL953440A', 'name': 'Steven I. Gordon'},
    {'key': '/authors/OL9508251A', 'name': 'Brian Guilfoos'}],
   'first_publish_year': 2017,
   'ia': None,
   'public_scan': False,
   'has_fulltext': False},
  {'key': '/works/OL17308344W',
   'title': 'Web Scraping with Python',
   'edition_count': 5,
   'cover_id': 7387255,
   'cover_edition_key': 'OL25881956M',
   'subject': ['Python (Computer program language)',
    'Automatic data collection systems',
    'Data mining',
    'Python (computer program language)',
    'Electronic data processing, distributed processing',
    'Data Mining',
    'Python (Langage de programmation)',
    'Exploration de données (Informatique)',
    'Collecte automatique des données',
    'TECHNOLOGY & ENGINEERING',
    'Automation',
    'COMPUTERS',
    'Programming Languages',
    'Python'],
   'ia_collection': [''],
   'lendinglibrary': False,
   'printdisabled': False,
   'lending_edition': '',
   'lending_identifier': '',
   'authors': [{'key': '/authors/OL7495370A', 'name': 'Ryan Mitchell'}],
   'first_publish_year': 2015,
   'ia': None,
   'public_scan': False,
   'has_fulltext': False},
  {'key': '/works/OL25347363W',
   'title': 'Survival Analysis with Python',
   'edition_count': 4,
   'cover_id': None,
   'cover_edition_key': None,
   'subject': ['Structural analysis (Engineering)',
    'Python (Computer program language)',
    'COMPUTERS',
    'Programming Languages',
    'Python',
    'MATHEMATICS',
    'Probability & Statistics',
    'General'],
   'ia_collection': [''],
   'lendinglibrary': False,
   'printdisabled': False,
   'lending_edition': '',
   'lending_identifier': '',
   'authors': [{'key': '/authors/OL9588733A', 'name': 'Avishek Nag'}],
   'first_publish_year': 2021,
   'ia': None,
   'public_scan': False,
   'has_fulltext': False}]}

In [47]:
pd.DataFrame(r.json())

,key,name,subject_type,work_count,works
0,/subjects/python,python,subject,69,"{'key': '/works/OL17795703W', 'title': 'Python..."
1,/subjects/python,python,subject,69,"{'key': '/works/OL6045694W', 'title': 'Python ..."
2,/subjects/python,python,subject,69,"{'key': '/works/OL23330617W', 'title': 'Making..."
3,/subjects/python,python,subject,69,"{'key': '/works/OL21349037W', 'title': 'Introd..."
4,/subjects/python,python,subject,69,"{'key': '/works/OL21703042W', 'title': 'Tour o..."
5,/subjects/python,python,subject,69,"{'key': '/works/OL19548251W', 'title': 'Python..."
6,/subjects/python,python,subject,69,"{'key': '/works/OL14940051W', 'title': 'Natura..."
7,/subjects/python,python,subject,69,"{'key': '/works/OL25217001W', 'title': 'Introd..."
8,/subjects/python,python,subject,69,"{'key': '/works/OL19932156W', 'title': 'Fluent..."
9,/subjects/python,python,subject,69,"{'key': '/works/OL25187574W', 'title': 'Introd..."
10,/subjects/python,python,subject,69,"{'key': '/works/OL17308344W', 'title': 'Web Sc..."
11,/subjects/python,python,subject,69,"{'key': '/works/OL25347363W', 'title': 'Surviv..."

In [48]:
pd.DataFrame(r.json()['works'])

,key,title,edition_count,cover_id,cover_edition_key,subject,ia_collection,lendinglibrary,printdisabled,lending_edition,lending_identifier,authors,first_publish_year,ia,public_scan,has_fulltext,availability
0,/works/OL17795703W,Python for bioinformatics,10,8078288.0,OL26385029M,"[Bioinformatics, Python (computer program lang...",[],False,False,,,"[{'key': '/authors/OL3871440A', 'name': 'Sebas...",2009,None,False,False,NaN
1,/works/OL6045694W,Python in a Nutshell,8,389166.0,OL7581267M,"[Python (Computer program language), Python (c...","[americanuniversity-ol, china, drakeuniversity...",False,True,OL24749091M,pythoninnutshell00mart,"[{'key': '/authors/OL1521655A', 'name': 'Alex ...",2002,pythoninnutshell00mart,False,True,"{'status': 'borrow_available', 'available_to_b..."
2,/works/OL23330617W,Making music with computers,7,NaN,None,"[Computer composition, Python (Computer progra...",[],False,False,,,"[{'key': '/authors/OL3853673A', 'name': 'Bill ...",2013,None,False,False,NaN
3,/works/OL21349037W,Introduction to Python for Science and Enginee...,6,NaN,None,"[Python (computer program language), Engineeri...",[],False,False,,,"[{'key': '/authors/OL4194836A', 'name': 'David...",2018,None,False,False,NaN
4,/works/OL21703042W,Tour of Data Science,6,NaN,None,"[Data mining, R (Computer program language), P...",[],False,False,,,"[{'key': '/authors/OL8302653A', 'name': 'Nailo...",2020,None,False,False,NaN
5,/works/OL19548251W,Python for Everyone,6,8514962.0,OL26838816M,"[Python (computer program language), Python (C...",[],False,False,,,"[{'key': '/authors/OL6972451A', 'name': 'Cay S...",2013,None,False,False,NaN
6,/works/OL14940051W,Natural Language Processing With Python,6,6296394.0,OL23978297M,"[Python (Computer program language), Natural l...","[librarygenesis, printdisabled]",False,True,,,"[{'key': '/authors/OL6770736A', 'name': 'Edwar...",2009,naturallanguagep00bird_504,False,True,"{'status': 'private', 'available_to_browse': F..."
7,/works/OL25217001W,Introduction to Python Programming,5,NaN,None,"[Python (computer program language), Python (C...",[],False,False,,,"[{'key': '/authors/OL9522029A', 'name': 'Gowri...",2018,None,False,False,NaN
8,/works/OL19932156W,Fluent Python,5,8743408.0,OL27112900M,"[Python (Computer program language), Computer ...","[binghamton-ol, cua-ol, inlibrary, internetarc...",False,True,OL27112900M,fluentpython0000rama,"[{'key': '/authors/OL7584543A', 'name': 'Lucia...",2015,fluentpython0000rama,False,True,"{'status': 'borrow_available', 'available_to_b..."
9,/works/OL25187574W,Introduction to Modeling and Simulation with M...,5,NaN,None,"[Matlab (computer program), Computer simulatio...",[],False,False,,,"[{'key': '/authors/OL953440A', 'name': 'Steven...",2017,None,False,False,NaN
10,/works/OL17308344W,Web Scraping with Python,5,7387255.0,OL25881956M,"[Python (Computer program language), Automatic...",[],False,False,,,"[{'key': '/authors/OL7495370A', 'name': 'Ryan ...",2015,None,False,False,NaN
11,/works/OL25347363W,Survival Analysis with Python,4,NaN,None,"[Structural analysis (Engineering), Python (Co...",[],False,False,,,"[{'key': '/authors/OL9588733A', 'name': 'Avish...",2021,None,False,False,NaN