<a href="https://colab.research.google.com/github/lazizrakhmat/DS-Notebook/blob/main/WebSahifa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web sahifalar

In [10]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [12]:
tashkentInfo =  pd.read_html("https://en.wikipedia.org/wiki/Tashkent")

In [15]:
len(tashkentInfo)

17

In [26]:
tashkentInfo[7]

    Year     Pop. ±% p.a.
0   1897   155673       —
1   1959   911930  +2.89%
2   1970  1384509  +3.87%
3   1979  1780002  +2.83%
4   1983  1902000  +1.67%
5   1989  2072459  +1.44%
6   1991  2130200  +1.38%
7   1995  2097400  −0.39%
8   2000  2142300  +0.42%
9   2001  2137900  −0.21%
10  2002  2136600  −0.06%
11  2003  2139200  +0.12%
12  2004  2135400  −0.18%
13  2005  2135700  +0.01%
14  2006  2140600  +0.23%

In [20]:
tashkentInfo[5]

   Climate data for Tashkent (1981–2010, extremes 1881–present)  \
                                                          Month
0                                 Record high °C (°F)
1                                Average high °C (°F)
2                                  Daily mean °C (°F)
3                                 Average low °C (°F)
4                                  Record low °C (°F)
5                   Average precipitation mm (inches)
6                          Average precipitation days
7                                  Average snowy days
8                       Average relative humidity (%)
9                         Mean monthly sunshine hours
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Jan
0                                          22.6(72.7)
1                                           6.9(44.4)
2                                           1.9(35.4)
3                                          −1.5(29.3)
4                                            −28(−18)
5                                          53.3(2.10)
6                                                  14
7                                                   9
8                                                  73
9                                               117.3
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Feb
0                                          27.0(80.6)
1                                           9.4(48.9)
2                                           3.9(39.0)
3                                           0.0(32.0)
4                                        −25.6(−14.1)
5                                          63.8(2.51)
6                                                  13
7                                                   7
8                                                  68
9                                               125.3
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Mar
0                                          32.5(90.5)
1                                          15.2(59.4)
2                                           9.3(48.7)
3                                           4.8(40.6)
4                                          −16.9(1.6)
5                                          70.2(2.76)
6                                                  14
7                                                   2
8                                                  61
9                                               165.1
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Apr
0                                          36.4(97.5)
1                                          22.0(71.6)
2                                          15.5(59.9)
3                                           9.8(49.6)
4                                          −6.3(20.7)
5                                          62.3(2.45)
6                                                  12
7                                                   0
8                                                  60
9                                               216.8
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  May
0                                         39.9(103.8)
1                                          27.5(81.5)
2                                          20.5(68.9)
3                                          13.7(56.7)
4                                          −1.7(28.9)
5                                          41.2(1.62)
6                                                  11
7                                                   0
8                                                  53
9                                               303.4
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Jun
0                                         45.0(113.0)
1                                          33.4(92.1)
2                                          25.8(78.4)
3                                          18.1(64.6)
4                                           3.8(38.8)
5                                          14.3(0.56)
6                                                   7
7                                                   0
8                                                  40
9                                               361.8
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Jul
0                                         44.6(112.3)
1                                          35.6(96.1)
2                                          27.8(82.0)
3                                          19.7(67.5)
4                                           8.2(46.8)
5                                           4.5(0.18)
6                                                   4
7                                                   0
8                                                  39
9                                               383.7
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Aug
0                                         43.1(109.6)
1                                          34.7(94.5)
2                                          26.2(79.2)
3                                          18.1(64.6)
4                                           5.7(42.3)
5                                           1.3(0.05)
6                                                   3
7                                                   0
8                                                  42
9                                               365.8
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Sep
0                                         40.0(104.0)
1                                          29.3(84.7)
2                                          20.6(69.1)
3                                          13.0(55.4)
4                                           0.1(32.2)
5                                           6.0(0.24)
6                                                   3
7                                                   0
8                                                  45
9                                               300.9
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Oct
0                                          37.5(99.5)
1                                          21.8(71.2)
2                                          13.9(57.0)
3                                           7.8(46.0)
4                                         −11.2(11.8)
5                                          24.7(0.97)
6                                                   7
7                                                   1
8                                                  57
9                                               224.8
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Nov
0                                          31.6(88.9)
1                                          14.9(58.8)
2                                           8.5(47.3)
3                                           4.1(39.4)
4                                         −22.1(−7.8)
5                                          43.9(1.73)
6                                                  10
7                                                   2
8                                                  66
9                                               149.5
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Dec
0                                          27.3(81.1)
1                                           8.8(47.8)
2                                           3.5(38.3)
3                                           0.0(32.0)
4                                        −29.5(−21.1)
5                                          58.9(2.32)
6                                                  12
7                                                   6
8                                                  73
9                                               105.9
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...


                                                 Year
0                                         44.6(112.3)
1                                          21.6(70.9)
2                                          14.8(58.6)
3                                           9.0(48.2)
4                                        −29.5(−21.1)
5                                        444.4(17.50)
6                                                 110
7                                                  27
8                                                  56
9                                              2820.3
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

In [18]:
tashkentInfo[9]

,Nr,District,Population (2021)[1],Area (km2)[64][63],Density (area/km2),Map
0,1,Bektemir,31400,17.83,1761,NaN
1,2,Chilanzar,260700,29.94,8707,NaN
2,3,Yashnobod,258800,33.70,7680,NaN
3,4,Mirobod,142800,17.10,8351,NaN
4,5,Mirzo Ulugbek,285000,35.15,8108,NaN
5,6,Sergeli,105700,37.36,2829,NaN
6,7,Shayxontoxur,348300,29.70,11727,NaN
7,8,Olmazor,377100,34.50,10930,NaN
8,9,Uchtepa,278200,24.00,11592,NaN
9,10,Yakkasaray,121600,14.60,8329,NaN
10,11,Yunusabad,352000,40.60,8670,NaN
11,12,Yangihayot,132800,44.20,3005,NaN